<h2>Transaction List</h2>

@if (transactionSignal()) {
  <ul>
    @for (transaction of transactionSignal(); track transaction.id) {
      <li class="transaction-item">{{ transaction.transactionName }}</li>

    }
      @empty {
        <li>No transactions found.</li>
      }
    
  </ul>
  <!-- Doing add for now since HW called for Add, but will switch to edit later -->
  <input type="text"   [value]="newTransactionSignal()"
  (input)="newTransactionSignal.set($any($event.target).value)" placeholder="New Transaction Name" >
  <button (click)="createTransaction()">Add Transaction</button>
} 
