
:root {
  --color-amazon: #3B7A57;
  --color-honeydew: #D0E8D0;
  --color-mustard-yellow: #FFC857;
  --color-coral: #E27D60;
  --color-latigo-bay: #4BA5B8;
  --color-forest-green: #014421;

  --color-rich-brown: #5C4033;
  --color-charcoal: #36454F;
  --color-chain-gray: #553815;
  --color-whisper-ridge: #CAC4B6;

  --font-heading: "Inter", system-ui, sans-serif;
  --font-body: "Roboto", system-ui, sans-serif;
}
