h1 {
  font-family: var(--font-heading);
  font-size: 40px;
  color: var(--color-forest-green);
}

button.primary {
  background-color: var(--color-amazon);
  color: white;
}
.layout {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.layout__column {
  flex: 1;
}
