<form class="form-card" [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
  @if (isEditMode()) {
    <h2 >Edit Transaction</h2>
  }@else
  {
    <h2>Insert Transaction</h2>
  }

  <input type="hidden" formControlName="id">

  <div class="form-group">
    <label>Email</label>
    <input type="email" formControlName="userEmail" placeholder="Enter your email" readonly>
    @if (isFieldInvalid('userEmail')) {
              <div id="title-error" class="field-error">{{ getFieldError('userEmail') }}</div>
    }
  </div>

  <div class="form-group">
    <label>Category</label>
    <select formControlName="categoryName">
      <option value="" disabled>Select a category</option>
      <option *ngFor="let category of transactionCategories()" 
              [value]="category.categoryName">
        {{ category.categoryName }}
      </option>
    </select>
    @if (isFieldInvalid('categoryName')) {
              <div id="title-error" class="field-error">{{ getFieldError('categoryName') }}</div>
    }
  </div>

  <div class="form-group">
    <label>Description</label>
    <textarea formControlName="description" placeholder="Enter description"></textarea>
  </div>

  <div class="form-group">
    <label>Amount</label>
    <input type="number" formControlName="amount" placeholder="Enter amount" step="0.01">
    @if (isFieldInvalid('amount')) {
              <div id="title-error" class="field-error">{{ getFieldError('amount') }}</div>
    }
   
  </div>

  <div class="form-group">
    <label>Transaction Date & Time</label>
    <input type="datetime-local" formControlName="transactionDateTime" placeholder="Select date and time">
    @if (isFieldInvalid('transactionDateTime')) {
      <div id="title-error" class="field-error">{{ getFieldError('transactionDateTime') }}</div>
    }
  </div>

  <div class="button-row">
    
  @if (isEditMode()) {
    <button type="submit" class="btn btn-primary">Update Transaction</button>
  }@else
  {
    <button type="submit" class="btn btn-primary">Submit Transaction</button>
  }
    <button routerLink="/transactions" class="btn btn-secondary">Back</button>
  </div>
</form>


  


