$border-color: #FFC857;
$hover-color: whitesmoke;

h2 {
    color: #333;
    margin-bottom: 15px;
}

ul {
    .transaction-item {
        border: 1px solid $border-color;
        border-radius: 4px;
        padding: 10px 12px;
        background-color: azure;
        
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover {
        background-color: $hover-color;
        }
    }
}

button {
    display: flex;
    align-self: center;

    color: #333;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(37, 99, 235, 0.3);
    background-color: $border-color;
}