<h2>Insert Transaction</h2>

@if (transactionSignal()) {
  <ul>
    @for (transaction of transactionSignal(); track transaction.id) {
      <li class="transaction-item">{{ transaction.transactionName }}
        <app-transaction [transaction]="transaction"></app-transaction>
      </li>

    }
      @empty {
        <li>No transactions found.</li>
      }
    
  </ul>
} 

  <input type="text" [(ngModel)]="newSignal" placeholder="New Transaction Name" >
  <button (click)="insertTransaction()">Add Transaction</button>