<form [formGroup]="transactionForm" (ngSubmit)="onSubmit()" class="transaction-form">
    
    <!-- Email Field -->>
    <div class="form-field">
        <label for="userEmail" class="field-label required">User Email</label>
        <input
            id="userEmail"
            type="text"
            class="field-input"
            [class.invalid]="isFieldInvalid('userEmail')"
            formControlName="userEmail"
            placeholder="Enter email..."
            aria-describedby="useremail-error">
        @if (isFieldInvalid('userEmail')) {
            <div id="title_error" class="field-error"> {{ getFieldError('userEmail') }}</div>
        }
    </div>

    <!-- Category Name Field -->>
    <div class="form-field">
        <label for="categoryName" class="field-label required">Category</label>
        <select
        id="categoryName"
        class="field-select"
        [class.invalid]="isFieldInvalid('categoryName')"
        formControlName="categoryName">
        <option value="">Select category...</option>
        <option *ngFor="let category of transactionCategories()" [value]="category.categoryName">
            {{ category.categoryName }} </option>
        </select>
    </div>

    <!-- Description Field -->>
    <div class="form-field">
        <label for="description" class="field-label">Description</label>
        <textarea
        id="description"
        class="field-textarea"
        [class.invalid]="isFieldInvalid('description')"
        formControlName="description"
        rows="3"
        placeholder="Description of the transaction..."
        aria-describedby="description-error"></textarea>
        @if (isFieldInvalid('description')) {
            <div id="description-error" class="field-error">{{ getFieldError('description') }}</div>
        }
    </div>

    <!-- Amount Field -->>
    <div class="form-field">
        <label for="amount" class="field-label required">Amount</label>
        <input
            id="amount"
            type="number"
            class="field-input"
            [class.invalid]="isFieldInvalid('amount')"
            formControlName="amount"
            placeholder="Enter the amount..."
            aria-describedby="amount-error">
        @if (isFieldInvalid('amount')) {
            <div id="title_error" class="field-error"> {{ getFieldError('amount') }}</div>
        }
    </div>

      <!-- Submit Button -->
    <button type="submit" [disabled]="transactionForm.invalid">Submit Transaction</button>
</form>
