@import "~@fontsource/inter/index.css";
@import "~@fontsource/roboto/index.css";

h2 {
    color: black;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    text-decoration: underline;
}

.transaction {
    list-style-type: none;
    padding: 0;
    border: 1.5px solid gray;
    border-radius: 5px 5px;
    margin: 5px 0;
    background-color: white;

    font-size: 16px;
    //font-family: 'Roboto Mono', monospace;
    font-family: 'Inter', sans-serif;

    &:hover {
        background-color: whitesmoke;
    }
}
